:root {
  /* Primary colors */

  --Nutmeg: hsl(14, 45%, 36%);
  --DarkRaspberry: hsl(332, 51%, 32%);

  /* Secondary colors */
  --white: hsl(0, 0%, 100%);
  --RoseWhite: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --LightGrey: hsl(30, 18%, 87%);
  --WengeBrown: hsl(30, 10%, 34%);
  --DarkCharcoal: hsl(24, 5%, 18%);
  --ButtonHoverColor: hsl(152, 51%, 32%);
  --LinkColor: hsl(228, 45%, 44%);
  --AlertCounterRedColor: #f00;
  --AttentionCounterColor: #b22222;
  --NormalCounterColor: #228b22;
  --ButtonHoverColor: #047209;

  /* fonts */

  --mainFamilyFont: "Outfit", sans-serif;
  --h1HeadersFont: "Young Serif", serif;
}

/* General sets */

body {
  background-color: var(--Eggshell);
  font-family: var(--mainFamilyFont);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px;
  font-size: 16px;
}

h1,
h2 {
  font-family: var(--h1HeadersFont);
  /* not sure about letter-spacing */
  letter-spacing: 0.7px;
}

h1 {
  font-size: 2.5rem;
  margin-top: 0px;
}

h2 {
  color: var(--Nutmeg);
}

h3 {
  color: var(--DarkRaspberry);
}

p {
  /* font-size: 1rem; not sure about this font-size */
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

a {
  text-decoration: none;
  font-family: var(--mainFamilyFont);
}

#container {
  width: 650px;
  background-color: var(--white);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--LightGrey);
  margin: -20px 0;
}

img {
  margin: 20px 0;
  width: 100%;
  height: 45%;
  border-radius: 10px;
}

.asterisk {
  color: var(--AttentionCounterColor);
}
/* Preparing time section */

#preparing-time {
  width: 620px;
  height: auto;
  border-radius: 10px;
  background-color: var(--RoseWhite);
  padding: 15px;
  border: 1px solid var(--LightGrey);
}

/* Opinion section */

#opinion-section {
  padding-left: 15px;
  padding-bottom: 5px;
}

#name {
  padding: 10px;
  border: 1px solid var(--LightGrey);
  border-radius: 10px;
  background-color: var(--RoseWhite);
  font-family: var(--mainFamilyFont);
  font-size: 1em;
  line-height: 1.2;
}

textarea {
  width: 95%;
  height: 150px;
  padding: 10px;
  border: 1px solid var(--LightGrey);
  border-radius: 10px;
  background-color: var(--RoseWhite);
  font-family: var(--mainFamilyFont);
  font-size: 1em;
  line-height: 1.2;
  resize: none;
}

textarea::placeholder,
#name::placeholder {
  font-size: 0.9em;
}

/* Counter chars section */

#counter-remaining {
  font-size: 0.8rem;
  /* color: var(--FontLavenderColor); */
}

#counter {
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--NormalCounterColor);
}

#counter.darkgreen {
  color: var(--NormalCounterColor);
}

#counter.brown {
  color: var(--AttentionCounterColor);
}

#counter.red {
  color: var(--AlertCounterRedColor);
}

/*  buttons sets  */

.nutrition-print-links-section {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

#opinion-button,
#nutrition-button,
#print-button,
#telegram-share-button {
  background-color: var(--DarkRaspberry);
  color: var(--white);
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  font-family: var(--mainFamilyFont);
}

#opinion-button:hover,
#nutrition-button:hover,
#print-button:hover,
#telegram-share-button:hover {
  cursor: pointer;
  background-color: var(--ButtonHoverColor);
  font-family: var(--mainFamilyFont);
}

/* hr-lines between sections */

hr {
  border: none;
  height: 0.5px;
  background-color: var(--LightGrey);
}

/* List sets */

ul,
ol {
  line-height: 2;
}

li {
  padding-left: 20px;
}

li::marker {
  color: var(--DarkRaspberry);
  font-weight: 700;
}

/* Full recipe link  */

#full-recipe-link {
  padding-left: 20px;
  padding-bottom: 5px;
}

/* Nutrition section */

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}

tr {
  border: none;
  /* option with borders
  border-bottom: 1px solid var(--LightGrey); 
  tr:last-child {border-bottom: none}    
  */
}

tr:nth-child(odd) {
  background-color: var(--RoseWhite);
}

td,
th {
  padding: 10px;
  padding-left: 30px;
}

.nutrition-data {
  color: var(--Nutmeg);
  font-weight: 700;
}

.nutrition-text {
  padding-left: 20px;
}

/* Links */

a.attribution {
  color: var(--LinkColor);
}

/* Footer section */

.attribution {
  margin-top: 30px;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: -35px;
}

/* print sets */
@media print {
  @page {
    margin: -30px 0;
    padding: 0;
  }

  * {
    line-height: 1.4;
  }

  body {
    font-size: 1.2rem;
  }

  #container {
    box-shadow: none;
  }

  h1 {
    font-size: 1.5rem;
  }
  h2,
  h3 {
    font-size: 1.3rem;
  }

  #preparing-time {
    /* border-radius: 10px; */
    padding: 0 15px 0;
    border: 1px solid var(--LightGrey);
    margin: 0;
  }

  .intro-text,
  .full-recipe-section-print,
  .nutrition-section-print,
  .ask-opinion-section-print,
  .nutrition-print-links-section,
  footer,
  button {
    display: none;
  }
}

/* media for small screens */

@media (max-width: 470px) {
  body {
    margin: 0;
    padding: 10px;
    font-size: 14px;
  }

  #container {
    width: 95%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
  }

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p,
  li {
    font-size: 0.9rem;
  }

  #preparing-time,
  #opinion-section,
  #full-recipe-link,
  .attribution {
    width: 100%;
  }

  #opinion-button,
  #nutrition-button,
  #print-button,
  #telegram-share-button {
    font-size: 0.7rem;
    padding: 8px;
    margin-bottom: 10px;
    gap: 5px;
  }

  /* changing nutrition text button to apple icon */
  #nutrition-button::before {
    content: "\1F34E";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }

  /* changing print text button to printer icon */
  #print-button::before {
    content: "\f02f";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }

  /* changing telegram button to Telegram icon */
  #telegram-share-button::before {
    content: "\f2c6";
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
  }

  /* hidden text button */
  #nutrition-button,
  #print-button,
  #telegram-share-button {
    font-size: 0;
    padding: 12px;
  }

  /* size icons */
  #nutrition-button::before,
  #print-button::before,
  #telegram-share-button::before {
    font-size: 1.2rem;
  }

  .attribution > p {
    font-size: 0.7rem;
  }
  .attribution {
    padding-bottom: 10px;
  }

  #preparing-time {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin: 0;
  }

  #opinion-section {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  #name,
  textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  table {
    width: 100%;
    font-size: 0.9rem;
  }

  td,
  th {
    padding: 8px;
    padding-left: 15px;
  }
}
